:root {
    --yellow-1: #ffaa00;
    --yellow-2: #ffd37f;
    --grey-1: #485050;
    --grey-2: #7E8484;
    --grey-3: #B6B9B9;
    --grey-4: #D2DADA;
    --grey-5: #F4F8F8;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Light.woff) format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Medium.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Bold.woff) format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Black.woff) format("woff");
    font-weight: 700;
}

body, p, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 calc((100% - 1180px) / 2);
}

.contacts {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway-Light";
    font-size: 12px;
    font-weight: 400;
}

.contacts a:first-child {
    margin-left: auto;
}

.portfolio-banner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/img_porfolio-1-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 600px;
}

.header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-basis: 100%;
    background-color: #fff;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    /* padding: 10px 40px; */
    box-shadow: 0 16px 32px rgba(0, 32, 32, 0.12);
    border-radius: 1px;
}

.header .title {
    display: flex;
    align-items: center;
}

.header img {
    padding: 10px 20px 10px 40px;
    /* margin-right: 20px; */
}

.header h1 {
    padding: 0;
    margin: 0;
    /* margin-right: auto; */
    font-family: "Raleway-Bold";
    font-size: 30px;
    color: var(--grey-2);
    letter-spacing: -1px;
    text-transform: uppercase;
}

.header h1 span:first-child {
    color: var(--yellow-1);
}

.header h1 span:last-child {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.header nav a {
    color: var(--grey-2);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
}

.header nav a:last-child {
    margin-right: 0;
}

.header .header__phone a:first-child {
    color: var(--yellow-1);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 20px;
}

.header .header__phone a:last-child {
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 30px 40px 30px 20px;
    background-color: var(--yellow-1);
}

/* Карточка портфолио, активная */

.portfolio-cards {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

.portfolio-card {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    box-sizing: border-box;
    /*  */
    color: var(--grey-1);
    font-family: Raleway;
    /*  */
    width: 360px;
    margin-top: 30px;
    padding: 40px 20px;
    box-shadow: 0 16px 32px rgba(0, 32, 32, 0.12);
    border-radius: 1px;
    background-image: url(../img/card_drips.svg);
    background-repeat: no-repeat;
    background-color: var(--grey-5);
    /*  */
    cursor: pointer;
}

.portfolio-card.active {
    margin-top: -110px;
}

.portfolio-card .subtitle, .portfolio-card .text {
    display: none;
}

.portfolio-card .overtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.portfolio-card .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 65px;
}

.portfolio-card.active .title {
    margin-bottom: 30px;
}

.portfolio-card.active .subtitle {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.portfolio-card.active .text {
    display: flex;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 30px;
}

.portfolio-card__properties {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-card .card-properties__item p:nth-child(2) {
    font-size: 46px;
    font-weight: 300;
    margin-top: -40px;
    margin-left: 20px;
}

.portfolio-card-active .card-properties__item p:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
}

/* Карточка портфолио, капли */

/* .portfolio-card .portfolio-card__drips {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
} */







@media screen and (max-width: 1200px) {
    .contacts {
        font-size: 1vw;
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        font-size: 14px;
    }
}
